.btn{
    margin-right: 5px;
    float: right;

}

.markAsDone{
    text-decoration: line-through;
    color:#777;
}

.tableActions{
    width: 190px;

}

.todoForm{
    padding-bottom: 60px;
}

#description{
    margin-bottom: 10px;
    width: 85%;
}

.posicionar{
    margin-top: -43px;
    margin-right: 10px;
}